.collage {
  width: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .collageImage {
    width: 50%;
    height: 75px;
  }
}

.card {
  width: 150px;
  border-radius: 20px;
  overflow: hidden;
  .image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 5px;
  }
  .defaultIimage {
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 5px;
    background-color: white;
  }

  .name {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  .description {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .creation {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  .infoBox {
    margin-top: 7px;
    width: 100%;
    padding: -5px 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .followersBox,
    .participantsBox,
    .seriesBox,
    .moviesBox {
      width: 49%;
      height: 25px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .iconFilled {
      width: 20px;
      height: 20px;
      stroke-width: 1.5px;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: white;
    }
    .icon {
      width: 20px;
      height: 20px;
      stroke-width: 1.5px;
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
      fill: none;
    }
    .followers,
    .participants,
    .series,
    .movies {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  .secondBox {
    border-top: 1px solid rgb(69, 69, 69);
    padding-top: 3px;
    margin-bottom: 7px;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 13px 13px rgba(95, 95, 95, 0.5);
  }
}
