.section {
    padding: 20px;
}
.title {
    margin-bottom: 10px;
}
.list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap:10px;

    & a {
        text-decoration: none;
        color: inherit;
    }
}